.header{
    position: fixed;
    width: 100%;
    cursor: pointer;
    top: 0px;
    left: 1px;

}
.logo img{
    height: 60px;
}
.main-header{
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    margin: 0px 80px;
    height: 80px;
    align-items: center;
    /* width: 100%; */

}


.main-header .dark-mode{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 108px;

}


@media screen and (max-width: 690px) {
    .main-header {
        margin: auto 20px;
    }

    .main-header h1,h3{
        font-size: 18px;
        font-weight: 800;
        /* background-color: black; */
        height: fit-content;
    }
}


@media screen and (max-width: 500px) {
    .main-header h1,h3{
        font-size: 14px;
    }
    .main-header h3{
        font-size: 14px;
    }


}