
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

/* .nav-bar{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    
    background-color: transparent;
} */

.wide-menu a{
    /* color: rgb(2, 108, 117); */
    text-decoration: none;
    font-family: ubuntu;
    font-size: x-large;
    font-weight: lighter;
    margin: 3px 10px;

    transition: all 0.2s ease-in-out;
}
.Menu-icon{
    display: none;
}

.narrow-menu{
    padding: 10px 25px;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10rem;
    left: 10px;
    top: 80px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 20px;
}

.narrow-menu a{
    /* border-top: solid 2px; */
    text-align: center;
}
.narrow-menu a:hover{
    color: gold;
}

.wide-menu a:hover{
    /* text-shadow: 1px 1px 3px rgb(0, 234, 255, 1); */
    border-bottom: 3px solid;
    cursor: pointer;
}

@media screen and (max-width: 850px) {
    .wide-menu a{
        font-size: large;
    }
}

@media screen and (max-width: 690px) {

    .wide-menu a{
        display: none;
    }
    .Menu-icon{
        display: block;
    }
}