
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

.nav-bar{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    
    background-color: transparent;
}

.nav-bar a{
    color: rgb(2, 108, 117);
    text-decoration: none;
    font-family: kanit;
    font-size: x-large;
    margin: 5px 10px;

    transition: all 0.2s ease-in-out;
}

.nav-bar a:hover{
    /* text-shadow: 1px 1px 3px rgb(0, 234, 255, 1); */
    text-decoration: underline;
    cursor: pointer;
}

