

@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Ubuntu:wght@400;500;700&display=swap');
.excuse-div{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.excuse-div button{
    
    /* color: rgb(0, 195, 255); */
    background-color: transparent;
    border: 2px solid rgb(196, 180, 0);
    font-size: 30px;
    /* margin: 10px; */
    transition: all 0.2s ease-in-out;
    width: fit-content;
    height: fit-content;
    padding: 10px;
}

.excuse-div button:hover{
    box-shadow: 1px 1px 10px rgb(223, 188, 11);
}

.excuse-div h1{
    text-transform: capitalize;
    /* color:  rgb(0, 234, 255); */
    font-family: Ubuntu;
    font-weight: normal
}

.excuse-div h3{
    font-family: marck script;
    font-weight: normal;
    /* color: aliceblue; */
    margin-top: 10px;
    font-size: 4vw;
}

.error-div {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.error-div h1{
    margin-top: 200px;
    /* color: rgb(5, 56, 118); */
    font-size: 5vw;
}

