

/* .welcome-div img{
    width: 100vw;
    height: 100vh;
    z-index: -1;
} */
.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.welcome h1 {
    margin-top: 70px;
    font-size: 15vw;
    color: rgb(3, 161, 192);
    text-shadow: 1px 1px 4px black;
    margin-bottom: 30px;
}
.welcome h2 {
    font-size: 5vw;
    font-family: cursive;
}

.cat-div{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 90%;
}

.cat-div h1{
    margin-top: 0px;
    font-size: 6vw;
}

.cat-div button{
    width: 13vw;
    font-size: 1.5vw;
}

.cat-div p{
    font-family: cursive;
    font-size: 20px;
    font-weight: 600;

}